* {
	color: #fff;
	font-size: 12px;
}
.horizontal {
	margin: 1rem;
	border-radius: .5rem;
	background-color: #434039;
}
tooltip {
	background: none;
	border: none;
}

#waybar {
/*	background-color: rgba(67, 64, 57, 0.25);*/
	background: none;
}

#custom-wofi,
#custom-wlogout {
	font-size: 1.25rem;
	border-radius: .75rem;
	margin: 0 1rem;
}

#pulseaudio,
#network,
#clock {
	font-size: 1.25rem;
	margin: 0 1rem 0 0 ;
}

/*#taskbar {
	margin: 0;
	padding: 0;
	background: wheat;
}*/
/*#taskbar button {
	border: none;
	margin: 0;
	padding: 0;
}
#taskbar button:hover {
	border: none;
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
}
#taskbar button.active {
	background-color: #6f695d;
}*/

#custom-wlogout {
	margin: 0;
}

#clock {
	font-size: 1rem;
	font-weight: bold;
}