* {
    font-family: "IBM Plex Sans";
    border-radius: .5rem;
    color: #fff;
}

window {
    background: none;
    color: #fff;
    font-weight: 400;
}

#input {
    background-color: rgba(30, 30, 46, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.25);
    color: #fff;
    padding: .5rem 1rem;
}

#scroll {
    background-color: rgba(30, 30, 46, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.25);
    margin-top: 1rem;
    padding: .5rem;
}

#img {
    margin-right: .25rem;
    -gtk-icon-transform: scale(.8);
}

#entry {
    border-radius: .25rem;
    padding: .5rem;
}

#entry:selected{
    /* background-color: transparent; */
    background-color: rgba(255,255,255, 0.15);
    outline: none;
    font-weight: 900;
}